extends layout

block content
  h1= title
  p Welcome to #{title}
  p luca volpe 
  p.ciao emissario
  a(href=`${link}`) #{number}
  br    
  a(href='/login-studente') ACCEDI STUDENTE
  ul  
    each item in array 
      if item == 'elemento 3' 
        li #{item}
      else 
        li Non sono il 3  